<div class="over-lay-visible">
</div>
<div class="bottom-new-footer">
    <div class="bootom-footer">
        <ul class="bootom-footer-ul">
            <li>
                <a routerLinkActive="active" [routerLink]="['/']"> <i class="fa fa-home" aria-hidden="true"></i>
                    <p>Home</p>
                </a>
            </li>
            <link>
            <li>
                <a routerLinkActive="active" [routerLink]="['/add-expense']">
                    <div class="profile-only">
                        <i class="fa-solid fa-plus" aria-hidden="true"></i>
                    </div>
                    <p></p>
                </a>
            </li>
        
            <li>
                <a routerLinkActive="active" [routerLink]="['/profile']">
                    <div class="profile-only">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <p>Profile</p>
                </a>
            </li>
            <!-- <li>
                <a class="dot-1">
                    <div class="span-dot"><span></span><span></span><span></span></div>
                    <p>More</p>
                </a>
            </li> -->
        </ul>
    </div>
</div>