<div class="over-lay-visible">
</div>
<div class="bottom-new-footer">
    <div class="bootom-footer">
        <ul class="bootom-footer-ul">
            <li>
                <a routerLinkActive="active" [routerLink]="['/']"> <i class="fa fa-home" aria-hidden="true"></i>
                    <p>Home</p>
                </a>
            </li>
            <link>
            <li>
                <a routerLinkActive="active" [routerLink]="['/add-expense']">
                    <div class="profile-only">
                        <i class="fa-solid fa-plus" aria-hidden="true"></i>
                    </div>
                    <p></p>
                </a>
            </li>
        
            <li>
                <a routerLinkActive="active" [routerLink]="['/profile']">
                    <div class="profile-only">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <p>Profile</p>
                </a>
            </li>
            <!-- <li>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"></i></button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                  Home
                  </div>
                </div>
            </li> -->
        </ul>
    </div>
</div>

