  <div class="container">
    <h1>Category List</h1>

<div class="d-flex justify-content-end mt-3">
<a [routerLink]="['/add-expense']" class="btn btn-primary">Add Category</a>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.name }}</td>
        <td>{{ item.amount }}</td>
        <td><button mat-raised-button (click)="openDialog('500ms', '500ms', item.id)"><i class="fa-solid fa-trash"></i></button>
          <button mat-raised-button (click)="editExpense(item.id)"><i class="fa-solid fa-pen-to-square"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>

